@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

.m-card,
.m-card-white {
  border: none;
  border-radius: 0;
  &__body {
    color: $color-white;
    background: $color-black;
  }
}

.m-card-white {
  background: $color-gray-lighter-shade-custom-4;
  @include margin(null, null, 5px, null);
  :hover {
    background: $color-black;
    color: $color-white;
  }
  &-cardText {
    font-size: $font-size-md;
    font-family: $font-family-Oswald400;
  }
}
