@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

.newsFeedLong ::ng-deep .m-card-white {
  background: $color-white;
  border-bottom: 1px #efefef solid;
  padding-top: 10px;
  padding-bottom: 10px;
  &-cardText {
    font-size: $font-size-lg;
    font-weight: bold;
    font-family: $font-family-Roboto;
  }
}

.newsFeedShort ::ng-deep .m-card-white {
  background: $color-white;
  border-bottom: 1px #efefef solid;
  padding-top: 10px;
  padding-bottom: 10px;
  &-cardText {
    font-size: $font-size-lg;
  }
}

.newsFeedShort ::ng-deep .m-card-white .img-square-wrapper {
  display: none;
}
