@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

// todo - combine these classes. use a include for similar properties
.module {
  &:last-child() ::ng-deep .m-card-white {
    border-bottom: none;
  }
  &::ng-deep {
    &.m-card-white {
      background: $color-white;
      border-bottom: 1px #efefef solid;
      padding-top: 10px;
      padding-bottom: 10px;
      &-cardText {
        font-size: $font-size-lg;
      }
      &-cardText:hover {
        color: aqua;
      }
    }
  }
}
.newsFeedLong {
  @extend .module;
  &::ng-deep {
    &.m-card-white {
      &-cardText {
        font-weight: bold;
        font-family: $font-family-Roboto;
      }
    }
  }
}
.newsFeedShort {
  @extend .module;
  &::ng-deep {
    &.m-card-white {
      height: 136px;
      .img-square-wrapper {
        position: absolute;
        width: 60px;
        height: 120px;
        right: 6px;
      }
      h5 {
        font-size: $font-size-md !important;
      }
      p {
        display: none;
      }
      .card-body {
        @include padding(null, 0rem !important, null, 0rem !important);
        max-width: 180px;
      }
    }
  }
}
