@import "../../../smacss/utilities/variables/variables";
@import "../../../smacss/utilities/mixins/mixins";

nav {
  background: $color-black;
  @include breakpoint(lg) {
    height: 70px;
  }
  a {
    color: $color-gray;
    text-transform: uppercase;
    font-size: $font-size-md;
    font-family: $font-family-Oswald400;
    display: block;
    padding: 0.5rem 0.75rem;
    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }
}
