@import "../../../smacss/utilities/variables/variables";

nav {
  background: $color-black;
  height: 70px;
  a {
    color: $color-white;
    text-transform: uppercase;
    font-size: $font-size-md;
    font-family: $font-family-Oswald400;
    display: block;
    padding: 0.5rem 0.75rem;
    :hover {
      color: $color-white;
    }
  }
}
