<section class="o-section__sectionPaddA container">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-7">
      <article class="m-card card">
        <img src="{{ news?.feature?.url }}" alt="{{ news?.feature?.title }}">
        <div class="m-card__body card-body">
          <h3 class="card-text">{{ news?.feature?.title }}</h3>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">{{ news?.feature?.category }}</button>
              {{ news?.feature?.date }}
            </div>
          </div>
          <p>{{ news?.feature?.details }}</p>
        </div>
      </article>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5">
      <app-news-feed *ngFor="let item of news?.subfeature" [item]="item"></app-news-feed>
    </div>

  </div>
</section>