.disabled {
    opacity: 0.5;
    cursor: default;
}

.disabledSelect {
  background-color: #EBEBE4 !important;
}

.optional {
  color: #444444;
}

.tooltip-inner {
  background-color: #001E60;
  color: #fff;
  text-align: left;
  font-family: robotoregular;
  font-size: 14px;
}

.tooltip .tooltip-arrow {
  border-top-color: #001E60;
}

.remove-link {
  display: block;
  color: #006AC3;
  min-width: 120px;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 15px;
  background: transparent url("../images/icons/icon_circle_minus_sm_blue.svg") no-repeat left center;
  background-size: 16px auto;
  padding-left: 20px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (min-width: 381px) {
  .remove-link.mcy {
    margin-left: 112px;
  }
}

gi-licence-details-form > div > div > tabset > ul.nav-tabs {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}