<article class="card">

  <div class="card-horizontal">
    <div class="img-square-wrapper">
      <img class="img-fluid" src="{{ item.url }}" alt="{{ item.title }}">
    </div>
    <div class="card-body">
      <h5>{{ item.title }}</h5>
      <p>{{ item.details }}</p>
      <button type="button" class="btn btn-sm btn-outline-secondary">{{ item.category }}</button>
      <small> {{ item.date }}</small>
    </div>
  </div>

</article>



<!-- <article class="m-card-white card">
  <div class="card-horizontal">
    <div class="img-square-wrapper">
      <img class="" src="{{ item.url }}" alt="{{ item.title }}">
    </div>
    <div class="card-body">
      <h5 class="m-card-white-cardText">{{ item.title }}</h5>
      <p>{{ item.details }}</p>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">{{ item.category }}</button>
      </div>
      <small class="text-muted"> {{ item.date }}</small>
    </div>
  </div>
</article> -->