<div class="m-card-white card">
  <div class="card-horizontal">
    <div class="img-square-wrapper">
      <img class="" src="http://via.placeholder.com/150x120" alt="Card image cap">
    </div>
    <div class="card-body">
      <h5 class="m-card-white-cardText">{{ item.title }}</h5>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">{{ item.category }}</button>
      </div>
      <small class="text-muted"> {{ item.date }}</small>
    </div>
  </div>
</div>