<!-- News -->
<app-news-feature [news]='news'></app-news-feature>
<!-- Sub Feature News -->
<app-news-sub [news]='news'></app-news-sub>
<!-- Player Transactions -->
<app-player-transactions></app-player-transactions>


<div class="container">
    <div class="row">
        <div class="col-lg-9">

            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="http://via.placeholder.com/300x180" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">

            <div class="card">
                <div class="card-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up
                            the
                            bulk of the card's content.</p>
                    </div>
                    <div class="img-square-wrapper">
                            <img class="" src="http://via.placeholder.com/75x180" alt="Card image cap">
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>