@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

.m-card {
  border: none;
  border-radius: 0;
  &__body {
    color: $color-white;
    background: $color-black;
  }
  &__img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.container {
  @include padding(50px, null, null, null);
  // @include margin(1px, 2px, 3px, 4px);
}
