@font-face {
  font-family: 'FrutigerLTW01-55Roman';
  src: url('../fonts/FrutigerLTW01-55Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FrutigerLTW01-55Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FrutigerLTW01-55Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/FrutigerLTW01-55Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FrutigerLTW01-55Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'FrutigerLTW01-45Light';
  src: url('../fonts/FrutigerLTW01-45Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FrutigerLTW01-45Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FrutigerLTW01-45Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/FrutigerLTW01-45Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FrutigerLTW01-45Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/roboto/Roboto-Thin-webfont.eot');
  src: url('../fonts/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Thin-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot');
  src: url('../fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto/Roboto-Light-webfont.eot');
  src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
  url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

//  --- Source Sans Pro --


@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.eot');
  src: url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.woff') format('woff'),
  url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.ttf') format('truetype'),
  url('../fonts/source_sans_pro/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'source_sans_prolight';
  src: url('../fonts/source_sans_pro/sourcesanspro-light-webfont.eot');
  src: url('../fonts/source_sans_pro/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source_sans_pro/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('../fonts/source_sans_pro/sourcesanspro-light-webfont.woff') format('woff'),
  url('../fonts/source_sans_pro/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('../fonts/source_sans_pro/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source_sans_proextralight';
  src: url('../fonts/source_sans_pro/sourcesanspro-extralight-webfont.eot');
  src: url('../fonts/source_sans_pro/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source_sans_pro/sourcesanspro-extralight-webfont.woff2') format('woff2'),
  url('../fonts/source_sans_pro/sourcesanspro-extralight-webfont.woff') format('woff'),
  url('../fonts/source_sans_pro/sourcesanspro-extralight-webfont.ttf') format('truetype'),
  url('../fonts/source_sans_pro/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('../fonts/source_sans_pro/sourcesanspro-semibold-webfont.eot');
  src: url('../fonts/source_sans_pro/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source_sans_pro/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('../fonts/source_sans_pro/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('../fonts/source_sans_pro/sourcesanspro-semibold-webfont.ttf') format('truetype'),
  url('../fonts/source_sans_pro/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: url('../fonts/source_sans_pro/sourcesanspro-bold-webfont.eot');
  src: url('../fonts/source_sans_pro/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source_sans_pro/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../fonts/source_sans_pro/sourcesanspro-bold-webfont.woff') format('woff'),
  url('../fonts/source_sans_pro/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('../fonts/source_sans_pro/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack';
  src: url('../fonts/source_sans_pro/sourcesanspro-black-webfont.eot');
  src: url('../fonts/source_sans_pro/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source_sans_pro/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('../fonts/source_sans_pro/sourcesanspro-black-webfont.woff') format('woff'),
  url('../fonts/source_sans_pro/sourcesanspro-black-webfont.ttf') format('truetype'),
  url('../fonts/source_sans_pro/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segment7standard';
  src: url('../fonts/segment7/segment7standard-webfont.eot');
  src: url('../fonts/segment7/segment7standard-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/segment7/segment7standard-webfont.woff2') format('woff2'),
  url('../fonts/segment7/segment7standard-webfont.woff') format('woff'),
  url('../fonts/segment7/segment7standard-webfont.ttf') format('truetype'),
  url('../fonts/segment7/segment7standard-webfont.svg#segment7standard') format('svg');
  font-weight: normal;
  font-style: normal;
}