@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

h3 {
  &.a-h3 {
    font-size: 1.15rem !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border-bottom: 2px solid $color-nhlpa-blue;
    display: inline-block;
    @include padding(null, null, 8px !important, null);
    @include margin(null, null, 20px !important, null);
  }
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: $link-color;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0rem 0.25rem !important;
  font-size: $font-size-tiny-1 !important;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: $color-nhlpa-blue !important;
}