html, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    font-family: $font-family-Roboto;
    font-weight: $font-weight-regular;
    -webkit-font-smoothing: auto;
    text-rendering: optimizeLegibility;
    color: $text-color-base;
    font-size: $font-size-body;
    line-height: $text-line-height-base;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: $link-color;
}

// @include media-breakpoint-down(md) {
//   .panel {
//     .body {
//       flex-direction: column;
//       padding: 0px;
//     }
//     .title {
//       font-size: 1.5rem;
//     }
//   }
// }

// @include media-breakpoint-up(md) {
//   .panel {
//     .body {
//       flex-direction: row;
//       padding: 1.5rem;
//     }
//   }
// }


// // ---------------------------- Media Queries ------------------------------- //

// @media (max-width: 768px) {
//   .col-sm-12 {
//     width: 100%;
//   }
//   .hide-in-mobile {
//     display: none;
//   }
// }

// @media screen and (min-width: 992px) {
//   body {
//     line-height: normal;
//   }
//   .col-md-10 {
//     width: 100%;
//   }
// }

// @media (min-width: 1200px) {
//   .col-lg-10 {
//     width: 100%;
//   }
// }
