@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: $link-color;
}

main {
  background-color: $color-white;
  @include padding(50px, null, null, null);
}

.o-section {
  &__sectionPaddA {
    @include padding(null, null, 13px, null);
  }
  &__sectionPaddB {
    @include padding(null, null, 60px, null);
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

// @include media-breakpoint-down(md) {
//   .panel {
//     .body {
//       flex-direction: column;
//       padding: 0px;
//     }
//     .title {
//       font-size: 1.5rem;
//     }
//   }
// }

// @include media-breakpoint-up(md) {
//   .panel {
//     .body {
//       flex-direction: row;
//       padding: 1.5rem;
//     }
//   }
// }

// // ---------------------------- Media Queries ------------------------------- //

// @media (max-width: 768px) {
//   .col-sm-12 {
//     width: 100%;
//   }
//   .hide-in-mobile {
//     display: none;
//   }
// }

// @media screen and (min-width: 992px) {
//   body {
//     line-height: normal;
//   }
//   .col-md-10 {
//     width: 100%;
//   }
// }

// @media (min-width: 1200px) {
//   .col-lg-10 {
//     width: 100%;
//   }
// }