@import "../../smacss/utilities/variables/variables";
@import "../../smacss/utilities/mixins/mixins";

h3 {
  &.a-h3 {
    font-size: 1.15rem !important;
    font-weight: bold !important;
    text-transform: uppercase;
    border-bottom: 2px solid $color-nhlpa-blue;
    display: inline-block;
    @include padding(null, null, 8px !important, null);
    @include margin(null, null, 20px !important, null);
  }
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  color: $link-color;
}