// ==========================================================================
// Third Party Imports
// ==========================================================================
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// ==========================================================================
// Core variables and Fonts
// ==========================================================================
@import "base/fonts";
@import "utilities/variables/variables";

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
// @import "layout/index";

// ==========================================================================
// Component Styles
// ==========================================================================
@import "component/index";

// ==========================================================================
// State Styles
// ==========================================================================
// @import "state/state";

// ==========================================================================
// State Styles
// ==========================================================================
// @import "pages/index";

// ==========================================================================
// Theme Styles
// ==========================================================================