// ==========================================================================
// Core variables and Fonts
// ==========================================================================
@import "base/fonts";
@import "utilities/variables/variables";

// ==========================================================================
// Base Styles
// ==========================================================================
// @import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
// @import "layout/index";

// ==========================================================================
// Component Styles
// ==========================================================================
// @import "component/index";

// ==========================================================================
// State Styles
// ==========================================================================
// @import "state/state";

// ==========================================================================
// State Styles
// ==========================================================================
// @import "pages/index";

// ==========================================================================
// Theme Styles
// ==========================================================================







$body-bg: $color-white;
$body-color: #111;
$theme-colors: (
  "primary": #216dad
);
$theme-colors: (
  "accent": #669ecd
);

@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.panel {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  .title {
    background-color: #86afd0;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .body {
    display: flex;
  }
}

@include media-breakpoint-down(md) {
  .panel {
    .body {
      flex-direction: column;
      padding: 0px;
    }
    .title {
      font-size: 1.5rem;
    }
  }
}

@include media-breakpoint-up(md) {
  .panel {
    .body {
      flex-direction: row;
      padding: 1.5rem;
    }
  }
}

body {
  line-height: 18px;
}

.body-content {
  margin: auto;
}

h1 {
  border-bottom: 3px theme-color("accent") solid;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h1,
h2,
h3 {
  padding: 3px 0;
}

ul {
  padding: 10px 25px;
}

ul li {
  padding: 5px 0;
}

blockquote {
  margin: 25px 10px;
  padding: 10px 35px 10px 10px;
  border-left: 10px color("green") solid;
  background: $gray-100;
}

blockquote a,
blockquote a:hover {
  color: $green;
}

@include media-breakpoint-up(lg) {
  .body-content {
    margin-left: $menu-max-width;
  }
  h1 {
    border-bottom: 5px #4189c7 solid;
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h1,
  h2,
  h3 {
    padding: 10px 0;
  }
}
