@import "../utilities/variables/variables";
@import "../utilities/mixins/mixins";



// Theme Variables
$aviva-header-breads-bg: none;
$aviva-header-breads-color: $color-black;
$aviva-link-color: $color-aviva-blue;
$aviva-link-hover-color: #23527C;

$aviva-footer-border-top-color: $color-aviva-defining-gray;
$aviva-footer-bg: #EBECEF;

// ---- Form Style ----
.form-control {
    height: 47px;
    font-weight: bold;
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    @include border-radious(4px, 4px, 4px, 4px);
    &.icon-r-calendar{
        background-image: none;
    }
}
call-center-widget {
    display: none;
}
#support h3 {
    color: #59B337;
}
#support .help {
    border-bottom: 1px solid #fff;
}
#support {
    color: #000;
    background-color: #fff;
    border: 1px solid #59B337
}

#body-bg{
  background-color: #fff;
}
#post-gi-quoter {
    background: #fff;
    margin-bottom: 0px;
}
.btn-blue {
    background: #59B337;
}
.btn {
    border-radius: 6px;
}
.box.gray {
    background-color: #fff;
    border-radius: 6px;
}
.form-group label.label-icon span.label-text.white, 
.form-group label.label-icon a.label-text.white, 
.form-group label.label-icon p.label-text.white {
    color: #000;
}
.dropdown-wrapper.vehicles-dropdown .dropdown button {
    border-radius: 6px;
}
accordion.shopping-cart accordion-group .shopping-cart-content .btn-add-home {
    background: #59B337;
}



/*may 9th*/
.header-resp {
    background-color: #fff;
}
.header-resp .navbar.navbar-default {
    background-color: #fff;
}
.header-resp .navbar.navbar-default .navbar-nav > li span {
    color: #000;
}
.header-resp .navbar.navbar-default .navbar-header .navbar-header-logo {
    background: url('../images/logo/header-logo.png') no-repeat center center;
}
.header-resp .navbar.navbar-default .navbar-nav > li {
    color: #FFFFFF;
}
.header-resp select {
    color: #000;
}
.header-resp .navbar.navbar-default .navbar-nav > li.log-out a {
    border: 1px solid #000;
}
.header-resp .navbar.navbar-default .navbar-nav > li a {
    color: #000;
}
/*may 9th*/








/*april 7 17*/
h1.lg-title-text {
    color: #59b337
}
.vehicle-types ul li {
    border-radius: 6px;
}
footer {
    background: #fff;
    padding-top: 30px;
}
.vehicle-types ul li span {
    border-radius: 6px;
}
.layout-card {
    margin-top: 20px;
    border-radius: 6px;
}
#quoter-home-wrap {
  background-color: #fff;
  min-height: 500px;
  .wh-bg {
    background: #fff;
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
.quoter-wrapper {
    background: #fff;
}
.quoter-box ul li {
    border-radius: 6px;
}
.quoter-box ul li:not(.disabled).active {
     background:#59B337;
}
.quoter-box ul li:not(.disabled):hover, .quoter-box ul li:not(.disabled).active {
    background-color: #59B337;
}
.btn.btn-add-driver {
    border-color: #59B337;
}
.vehicle-types ul li:not(.disabled):hover, .vehicle-types ul li:not(.disabled).active {
    background-color: #59B337;
}
.datepicker thead .btn {
    background: #59B337;
}

.test {
    @import "../component/dropdown";
}
.l-header select {
    color: #000;
}
// --UNUSED--
// .l-header--searchIcon {
//     margin-top: 10px;
// }
h4.aviva {
    color: #000;
    font-family: robotothin;
}
h2.homeTitle {
    text-align: right;
}
@media only screen and (max-width: 844px) {
    sup.cursor {
        display: none;
    }
}
.quoter-box ul li:not(.disabled):hover, .quoter-box ul li:not(.disabled).active {
    border: none;
}
.dropdown-wrapper.vehicles-dropdown .dropdown button:hover {
    background-color: #59B337;
    border-color: #59B337;
    color: #fff;
}
.dropdown-wrapper.vehicles-dropdown .dropdown button {
    border-color: #59B337;
}
.dropdown-wrapper.vehicles-dropdown .dropdown button .btn-text {
    color: #000;
}
.dropdown-wrapper.vehicles-dropdown .dropdown button:hover .btn-text{
    color: #fff;
}

/*april 7 17*/





footer .container {
    border-top: 2px $aviva-footer-border-top-color solid;
}
 
// --UNUSED--
// --- Header ----
// .l-header {
//     background: none no-repeat center top;
//     &--breads {
//         margin-bottom: 10px;
//         margin-top: 10px;
//         padding-right: 13px;
//         color: $aviva-header-breads-color;
//         &--bg {
//             background: $aviva-header-breads-bg;
//             margin-bottom: 0px;
//         }
//         a {
//             color: $aviva-link-color;
//         }
//     }
//     &--searchIcon {
//         display: block;
//     }
//     &--Logo {
//         background: url('../images/logo/header-logo.png') no-repeat center top;
//         width: 159px;
//         height: 36px;
//     }
//     &--mobileLogo {
//         background: url('../images/logo/header-logo.png') no-repeat center top;
//     }
// }

// --- Vehicles Component ---
/*.add-vehicles-wrap{
  position: absolute;
  top: -90px;
  right: 0px;
}*/

.navbar {
    margin-bottom: 0px;
}

input.inputRep {
    border-bottom: 1px solid $aviva-link-color;
    color: $color-aviva-blue;
}




.col-centered {
    float: none;
    margin: 0 auto;
}

a {
    color: #000;
    &:hover{
        color: $aviva-link-hover-color;
    }
    &.searchClose {
        color: $color-aviva-blue;
    }
}

ul.pro-nav > li.mclass:after {
    border-left-color: #59b337;
}

ul.pro-nav > li.mclass {
    background-color: #59b337;
    color: #fff;
}

footer .security {
    background: transparent url('../images/footer/shield_icon.png') no-repeat scroll 0 0;
    float: left;
    font-weight: bold;
    padding-left: 30px;
    font-size: 14px;
    overflow: hidden;
    min-height: 31px;
    color: #000;
}

h2.homeTitle {
    display: block;
}
h1.lg-title-text-aviva {
    display: block;
}
h1.lg-title-text {
    display: none;
}
.wrapSpinner .spinner img.spinLog {
  display: none
}
p.rbc-disc {
    display: none
}


ul.pro-nav {
    /*-DG-*/

    position: static;
}

accordion .panel-default > .panel-heading {
    background-color: #fff;
    border: 2px solid #59B337;
}
accordion accordion-group.panel-open .panel-heading .panel-title {
    color: #000;
}
accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .title {
    color: #000;
}
accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .view-edit-action span {
    color: #000;
}
accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .coverage-type, accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .quote-number, accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .quote-date {
    color: #000;
}
accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .premium-monthly {
   color: #000;
}
accordion.shopping-cart accordion-group .panel-default .panel-heading .panel-title .premium-yearly {
   color: #000;
}
.aviva .l-summary .offeringTitle {
    color: #000;
}
.l-summary .offeringTitle {
    background-color: #fff;
    border: 1px solid #C4C8CC;
    color: #000;
}
.l-summary button.seeMoreButton {
    background-color: #59b337;
    color: #fff;
}
.aviva .l-summary .offeringTitle {
    background-color: #fff;
    color: #000;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}
.l-summary span.offeringTitle--fp, .l-summary span.offeringTitle--sum {
    color: #000;
}
.datepicker .well {
    background-color: #fff
}
.btn-lg-plus {
    padding: 10px 16px;
}

.btn-lg-plus-blue {
    padding: 10px 16px;
    background: #59b337;
    color: #fff;
    border: none;
    opacity: 1;
}

.btn-add-driver:hover {
    background-color: #59b337;
    border-color: #59b337;
}

.btn.btn-add-driver:focus, .btn.btn-add-driver.focus {
    background-color: #59b337;
    border-color: #59b337;
}

accordion accordion-group.panel-open.motorcycle_ac .panel-heading {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}


accordion .collapse {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}


/* -- import Bootstrap v3 --------------------------- */
/* -- import Bootstrap docs ------------------------- */
/* -- import Roboto Font ---------------------------- */

//@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- Body style ------------------------------------ */
/* -- Input styles ---------------------------------- */

// .form-group {
//     position: relative;
//     margin-top: 35px;
//     margin-bottom: 20px;
// }

// .input-group {
//     position: relative;
// }

// .form-control {
//     display: block;
//     height: 36px;
//     width: 100%;
//     border: none;
//     border-radius: 0 !important;
//     font-size: 16px;
//     font-weight: 300;
//     padding: 0;
//     background-color: transparent;
//     box-shadow: none;
//     border-bottom: 1px solid #757575;
// }

// .input-group .form-control {
//     position: relative;
//     z-index: inherit;
//     float: inherit;
//     width: 100%;
//     margin-bottom: 0;
// }

// .form-control:focus {
//     border-color: #757575;
//     outline: none;
//     box-shadow: none;
// }
// /* -- label styles ---------------------------------- */

// label {
//     position: absolute;
//     top: -18px;
//     color: #999;
//     font-size: 12px;
//     font-weight: 300;
//     transition: 0.2s ease all;
//     -moz-transition: 0.2s ease all;
//     -webkit-transition: 0.2s ease all;
// }
// .form-horizontal .control-label {
//     position: relative;
//     top: 0;
//     margin-bottom: 0;
// }

// @media (min-width: 768px) {
//     .form-horizontal .control-label {
//         font-size: 16px;
//     }
// }

// .float-label {
//     left: 0;
//     top: 7px;
//     font-size: 16px;
//     pointer-events: none;
// }
// /* active state */

// .form-control:focus ~ .float-label,
// .form-control:valid ~ .float-label {
//     top: -18px;
//     font-size: 12px;
// }
// /* input colors ---- */

// // default
// .form-control:focus {
//     ~ label {
//         color: #03a9f4;
//     }
//     ~ .form-bar:before,
//     ~ .form-bar:after {
//         background: #03a9f4;
//     }
// }

// .form-control:valid ~ .control-label {}
// /* help-block */

// .form-group .help-block {
//     position: absolute;
// }

// .help-block {
//     color: #bdbdbd; // caption
//     font-size: 12px;
//     font-weight: 300;
// }
// /* input addon ---*/

// .input-group-addon {
//     border: none;
//     background: transparent;
// }
// /* ------  inline ----*/

// .input-group-addon,
// .form-inline .input-group {
//     display: table-cell;
// }
// .input-group-addon,
// .input-group-btn {
//     width: inherit;
// }
// .input-group {
//     width: 100%;
// }

// @media (min-width: 768px) {
//     .form-inline .form-group {
//         margin-top: 16px;
//     }
//     .input-group-btn,
//     .input-group .form-control,
//     .input-group-addon,
//     .form-inline .input-group {
//         display: inline-block;
//     }
//     .input-group {
//         width: auto;
//     }
// }
/* -- bar styles -------------------------------------- */

.form-bar {
    position: relative;
    display: block;
    width: 100%;
}

.form-bar:before,
.form-bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
}

.form-bar:before {
    left: 50%;
}
.form-bar:after {
    right: 50%;
}
/* active state */

.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
    width: 50%;
}
/* -- highlighter styles ------------------------------ */

.form-highlight {
    position: absolute;
    height: 60%;
    width: 60px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.4;
}
/* active state */

.form-control:focus ~ .form-highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
/* -- highlighter animation --------------------------- */

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
/*-- Checkbox --------------------------- */

// fork from http://codepen.io/jasonmayes/pen/wxtFr
/*
    * Core styles required for the checkboxes.
    * @author Jason Mayes 2014, www.jasonmayes.com
    */

.form-group.checkbox {
    margin-top: 20px;
}
.checkbox input[type='checkbox'] {
    height: 0;
    width: 0;
    opacity: 0;
}
.checkbox label {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 10px;
    padding-left: 0;
}
.checkbox .chk-span {
    top: 0;
    border: 1px solid #5a5a5a;
    color: #1d1d1d;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 14px;
    margin: 0 14px 14px 1px;
    outline-color: #eaeaea;
    padding: 0;
    position: relative;
    width: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}
.checkbox .chk-span.checked {
    top: -2px;
    border-left: 2px solid #03a9f4;
    border-bottom: 4px solid #03a9f4;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    -webkit-transform: rotate(-45deg) scaleY(0.5);
    -moz-transform: rotate(-45deg) scaleY(0.5);
    -ms-transform: rotate(-45deg) scaleY(0.5);
    -o-transform: rotate(-45deg) scaleY(0.5);
    transform: rotate(-45deg) scaleY(0.5);
}
// Checkbox colors
.checkbox .chk-span.checked {
    border-left-color: #03a9f4;
    border-bottom-color: #03a9f4;
}
// focus state
.checkbox input[type='checkbox']:focus ~ label {
    color: #03a9f4;
    .chk-span {
        border-color: #03a9f4;
        &.checked {
            border-left-color: #03a9f4;
            border-bottom-color: #03a9f4;
            border-top: 1px solid rgba(0, 0, 0, 0);
            border-right: 1px solid rgba(0, 0, 0, 0);
        }
    }
}
@media (min-width: 768px) {
    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 5px;
    }
}

.form-control-static {
    font-size: 16px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
    // border-bottom-style: dashed;
}
#focusedInput {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    box-shadow: none;
}

// add navigation styles for aviva
@include create-quoter-navigation-aviva("../images/icons/icon-tick.svg", "aviva");

// add dropdown styles for aviva
@include create-dropdown-aviva();
