// @import "../utilities/variables/variables";
// @import "../utilities/mixins/mixins";


// ---- Form Style ----
// .form-control {
//     height: 47px;
//     font-weight: bold;
//     box-shadow: none;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     @include border-radious(4px, 4px, 4px, 4px);
//     &.icon-r-calendar{
//         background-image: none;
//     }
// }
// #body-bg{
//   background-color: #fff;
// }
// .btn {
//     border-radius: 6px;
// }
// .box.gray {
//     background-color: #fff;
//     border-radius: 6px;
// }
// .form-group label.label-icon span.label-text.white, 
// .form-group label.label-icon a.label-text.white, 
// .form-group label.label-icon p.label-text.white {
//     color: #000;
// }