<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor="let item of news.main">
      <div class="m-card mb-4">
        <img class="m-card__img-top card-img-top" src="{{ item.url }}" alt="Card image cap">
        <div class="m-card__body card-body">
          <p class="card-text">{{ item.title }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">{{ item.category }}</button>
            </div>
            <small class="text-muted">{{ item.date }}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>