<section class="o-section__sectionPaddB container">
  <div class="row">

    <div class="m-col4 col-md-4" *ngFor="let item of news?.main">
      <div class="m-card">
        <img src="{{ item.url }}" alt="{{ item.title }}">
        <div class="m-card__content">
          <p class="m-card__content-cardText">{{ item.title }}</p>
          <div class="d-flex align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">{{ item.category }}</button>
            </div>
            <small class="text-muted"> {{ item.date }}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>