@mixin background($background-color: #FFFFFF, $image-path: "", $image-repeat: no-repeat, $image-position: left top, $image-size: "", $padding-left: "") {
  background-color: $background-color;
  @if $image-path {
    background-image: url("#{$image-path}");
    background-repeat: $image-repeat;
    background-position: $image-position;
  }

  @if $image-size {
    background-size: $image-size;
  }

  @if $padding-left {
    padding-left: $padding-left;
  }
}
@mixin background-image($image-path: "", $image-repeat: no-repeat, $image-position: left top, $image-size: "") {
  @if $image-path {
    background-image: url("#{$image-path}");
    background-repeat: $image-repeat;
    background-position: $image-position;
  }

  @if $image-size {
    background-size: $image-size;
  }
}

@mixin tabset-item-background-image ($className, $background-color, $background-image, $background-image-repeat, $background-image-position, $background-size, $padding-left: false, $padding-right: false) {
  #{$className} {
    background: $background-color url("#{$background-image}") #{$background-image-repeat} #{$background-image-position};
    background-size: $background-size;
    a {
      @if $padding-left {
        padding-left: $padding-left;
      }
      @if $padding-right {
        padding-right: $padding-right;
      }
    }
    &.disabled-tab {
      cursor: default;
      pointer-events: none;
      opacity: 0.65;
    }
  }
  /*
  background: transparent url("../images/icons/vehicles/auto_icon_big_gray.svg") no-repeat left center;
  background-size: 40px;
  padding-left: 45px;
  */
}