@mixin border-radious($top-left: 0px, $top-right: 0px, $bottom-right: 0px, $bottom-left: 0px){
  -moz-border-top-left-radius: $top-left;
  -moz-border-top-right-radius: $top-right;
  -moz-border-bottom-right-radius: $bottom-right;
  -moz-border-bottom-left-radius: $bottom-left;

  -ms-border-top-left-radius: $top-left;
  -ms-border-top-right-radius: $top-right;
  -ms-border-bottom-right-radius: $bottom-right;
  -ms-border-bottom-left-radius: $bottom-left;

  -o-border-top-left-radius: $top-left;
  -o-border-top-right-radius: $top-right;
  -o-border-bottom-right-radius: $bottom-right;
  -o-border-bottom-left-radius: $bottom-left;

  -webkit-border-top-left-radius: $top-left;
  -webkit-border-top-right-radius: $top-right;
  -webkit-border-bottom-right-radius: $bottom-right;
  -webkit-border-bottom-left-radius: $bottom-left;

  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-right-radius: $bottom-right;
  border-bottom-left-radius: $bottom-left;
}