@import "vehicle-icons";

@mixin intro-icons($image-path: "../images/icons/home-page/", $auto-filename: "auto_lg_", $home-filename: "home_lg_", $homeauto-filename: "auto_home_lg_" , $image-color: "blue", $bg-size: 80px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center center, $image-size-on-small-screen: 55px auto) {
    @include intro-icon-auto($image-path, $auto-filename, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include intro-icon-home($image-path, $home-filename, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include intro-icon-auto-home($image-path, $homeauto-filename, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @media only screen  and (max-width: 400px) {
        .introIcon {
            background-size: $image-size-on-small-screen;
            height: $height;
        }
    }
}

@mixin intro-icon-auto($image-path: "../images/icons/home-page/", $auto-filename: "auto_lg_", $image-color: "blue", $bg-size: 80px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center center){
    .introAuto {
        background: url("#{$image-path}#{$auto-filename}#{$image-color}.svg") $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin intro-icon-home($image-path: "../images/icons/home-page/", $home-filename: "home_lg_", $image-color: "blue", $bg-size: 80px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center center){
    .introHome {
        background: url("#{$image-path}#{$home-filename}#{$image-color}.svg") $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin intro-icon-auto-home($image-path: "../images/icons/home-page/", $homeauto-filename: "auto_home_lg_", $image-color: "blue", $bg-size: 80px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center center){
    .introAutoHome {
        background: url("#{$image-path}#{$homeauto-filename}#{$image-color}.svg") $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}