@import "border-radius";
@import "quoter-navigation";
@import "background";
@import "dropdown";
@import "buttons";
@import "vehicle-icons";
@import "property-icons";
@import "intro-icons";
@import "quoter-navigation";
@import "radio-checkbox";
@import "two-cell-row";

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
