@import "vehicle-icons";

@mixin property-icons($image-size: "lg", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center 25px, $image-size-on-small-screen: 55px auto) {
    @include home-owner-icon($image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include condo-owner-icon($image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include renter-icon($image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @media only screen  and (max-width: 400px) {
        .homeOwnerIcon, .condoOwnerIcon, .renterIcon {
            background-size: $image-size-on-small-screen;
            height: 70px;
        }
    }
}

@mixin home-owner-icon($image-size: "lg", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center 25px){
    .homeOwnerIcon {
        background: url("../images/icons/property/property_home_lg_#{$image-color}.svg") $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin condo-owner-icon($image-size: "lg", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center 25px){
    .condoOwnerIcon {
        background: url("../images/icons/property/property_condo_owner_lg_#{$image-color}.svg") $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin renter-icon($image-size: "lg", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center 25px){
    .renterIcon {
        background: url("../images/icons/property/property_renter_lg_#{$image-color}.svg") $image-position;
    	@include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}
