// ----------------------------------------------------------------------------------------
// |             Mixin to generate  quoter navigation style for RBC Theme                  |
// ----------------------------------------------------------------------------------------
@mixin create-quoter-navigation-rbc($completed-image: "../images/icons/icon-tick.svg", $style: "default"){
  $nav-wrapper-bg: #FFFFFF;
  $li-border-top-left-radius: 3rem;
  $li-border-top-right-radius: 3rem;
  $li-border-bottom-left-radius: 3rem;
  $li-border-bottom-right-radius: 3rem;
  $li-width: 20%;
  $li-mr-right: 6.6666%;
  $li-bg-color: #E1E1E1;
  $nav-bg: none;
  $text-style: italic;

  .pro-nav-wrapper{
    width: 100%;
    background: $nav-wrapper-bg;
    padding: 30px 0 30px 0;
    height: 120px;
  }
  .pro-nav{
    .hr-line{
      width: 100%;
      border-bottom: 1px solid $li-bg-color;
      position: relative;
      top: 26px;
    }
    ul {
      overflow: hidden;
      @include border-radious(0.9rem, 0.9rem, 0.9rem, 0.9rem);
      padding-left: 0px;
      background: $nav-bg;

      & > li {
        float: left;
        position: relative;
        width: $li-width;
        height: 47px;
        margin-right: $li-mr-right;
        text-align: center;
        padding: 3px 7px 3px 7px;
        list-style: none;
        border: 1px solid $li-bg-color;
        background: $li-bg-color;
        @include border_radious($li-border-top-left-radius, $li-border-top-right-radius, $li-border-bottom-right-radius, $li-border-bottom-left-radius);

        &:last-child{
          margin-right: 0%;
          float: right;
        }
        &.active{
          span{
            &:first-child{
              display: none;
            }
            &:nth-child(2){
              display: none;
            }
            &:nth-child(3){
              font-size: 1em;
              font-weight: 600;
              font-style: normal;
              line-height: 39px;
            }
          }
        }
        &.mclass {
          background: #FFFFFF;

          span {
            font-size: 1em;
            font-weight: 600;
            font-style: normal;
            color: #6F6F6F;
          }
        }
        &.completed,
        &:last-child.mclass{
          background: #0073CF url($completed-image) no-repeat 8px 6px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          padding-left: 35px;

          span {
            color: #FFFFFF;
            &:first-child, &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              font-style: normal;
            }
          }
        }

        span {
          font-size: 1em;
          font-style: $text-style;
          line-height: 40px;

          &:nth-child(2){
            display: inline-block;
          }
          &:nth-child(3){
            sup{
              top: -0.1em;
            }
          }
        }
      } // End li
    }
  }


  /* --- Media Queries ---*/
  @media only screen
  and (min-width: 650px)
  and (max-width: 700px) {
    @include quoter-navigation-rbc-sm-screen-variant(22%, 22%);
  }

  @media only screen
  and (min-width: 541px)
  and (max-width: 650px) {
    @include quoter-navigation-rbc-sm-screen-variant(20%, 20%);
  }

  @media only screen
  and (min-width: 481px)
  and (max-width: 540px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(18%, 18%);
  }

  @media only screen
  and (min-width: 426px)
  and (max-width: 480px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(14%, 14%);
  }

  @media only screen
  and (min-width: 401px)
  and (max-width: 426px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(12%, 12%);
  }

  @media only screen
  and (min-width: 385px)
  and (max-width: 400px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(10%, 10%);
  }

  @media only screen
  and (min-width: 361px)
  and (max-width: 384px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(9%, 9%);
  }

  @media only screen
  and (min-width: 321px)
  and (max-width: 360px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(8%, 8%);
  }

  @media only screen
  and (max-width: 320px)
  {
    @include quoter-navigation-rbc-sm-screen-variant(7%, 7%);
  }

  @media only screen and (min-width: 61.5em) {
    .pro-nav{
      /* 984 =================================================== */
      top: 8px;
      right: 15px;
      min-width: 96%;
      position: absolute;
      ul{
        & > li{
          &.completed{
            padding-left: 30px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 87em) {
    /* 1392 =================================================== */
    .pro-nav{
      min-width: 96%;
    }
  }
}

// ----------------------------------------------------------------------------------------
// |             Mixin to generate  quoter navigation style for Aviva Theme               |
// ----------------------------------------------------------------------------------------
@mixin create-quoter-navigation-aviva($completed-image: "../images/icons/icon-tick.svg", $style: "default"){
  @include create-quoter-navigation-rbc();

    .pro-nav{
    ul {
      & > li {
        &.completed,
        &:last-child.mclass{
          background: #59b337 url(../images/icons/icon-tick.svg) no-repeat 8px 6px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          padding-left: 35px;
        }
      } 
    }
  }

  @media only screen and (min-width: 61.5em) {
    .pro-nav{
      position: static;
    }
  }
}

@mixin quoter-navigation-rbc-sm-screen-variant ($margin-left-2nd: 15%, $margin-left-3rd: 15%) {
  .pro-nav {
    ul {
      //padding-bottom: 50px;
      & > li {
        width: 47px;
        height: 47px;
        border-radius: 50%;
        &:first-child {
          margin-right: 0%;
          span:nth-child(3) {
            left: -3px;
          }
        }
        &:nth-child(2) {
          margin-left: $margin-left-2nd;
          margin-right: 0%;
          &.mclass:not(.completed) {
            margin-left: $margin-left-2nd - 2;
          }
        }
        &:nth-child(3) {
          margin-left: $margin-left-3rd;
          margin-right: 0%;
          &.mclass:not(.completed) {
            margin-left: $margin-left-3rd - 2;
          }
        }
        span {
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            position: absolute;
            width: 70px;
            top: 38px;
            left: -13px;
            text-align: center;
            font-size: 0.9em;
          }
        }
        &.mclass {
          width: 120px;
          border-radius: 3rem;
          span {
            &:first-child {
              // display: none;
            }
            &:nth-child(3) {
              position: static;
            }
          }
          &.completed {
            width: 47px;
            height: 47px;
            border-radius: 50%;
            span {
              position: absolute;
            }
          }
        }
        &.completed {
          background-position: 6px 6px;
          span {
            color: #0073CF;
            font-size: 12px;
            text-decoration: underline;
            &:nth-child(3) {
              left: -9px;
            }
          }
        }
        &.active {
          width: 35%;
          span {
            &:nth-child(3) {
              font-size: 0.9em;
              font-weight: 600;
              top: 5px;
            }
          }
        }
      }
    }
  }
}