@mixin vehicle-icons($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top, $image-size-on-small-screen: 55px auto) {
    @include vehicle-icon-auto($image-path, $image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include vehicle-icon-motorcycle($image-path, $image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include vehicle-icon-atv($image-path, $image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include vehicle-icon-motorhome($image-path, $image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include vehicle-icon-camper($image-path, $image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @include vehicle-icon-showmobile($image-path, $image-size, $image-color, $bg-size, $width, $height, $display-prop, $image-position);
    @media only screen  and (max-width: 400px) {
        .autoIcon, .motorcycleIcon, .atvIcon, .motorhomeIcon, .camperIcon, .snowmobileIcon {
            background-size: $image-size-on-small-screen;
            height: 70px;
        }
    }
}

@mixin vehicle-icon-common-property ($bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    background-size: $bg-size;
    width: $width;
    height: $height;
    display: $display-prop;
    background-repeat: no-repeat;
}

@mixin vehicle-icon-auto($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    .autoIcon {
        background: url('#{$image-path}/auto_icon_#{$image-size}_#{$image-color}.svg') $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin vehicle-icon-motorcycle($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    .motorcycleIcon {
        background: url('#{$image-path}/motorcycle_icon_#{$image-size}_#{$image-color}.svg') $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin vehicle-icon-atv($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    .atvIcon {
        background: url('#{$image-path}/atv_icon_#{$image-size}_#{$image-color}.svg') $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin vehicle-icon-motorhome($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    .motorhomeIcon {
        background: url('#{$image-path}/motorhome_icon_#{$image-size}_#{$image-color}.svg') $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin vehicle-icon-camper($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    .camperIcon {
        background: url('#{$image-path}/camper_trailer_icon_#{$image-size}_#{$image-color}.svg') $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

@mixin vehicle-icon-showmobile($image-path: "../../../images/icons/vehicles", $image-size: "big", $image-color: "blue", $bg-size: 90px auto, $width: 100%, $height: 120px, $display-prop: inline-block, $image-position: center top){
    .snowmobileIcon {
        background: url('#{$image-path}/snowmobile_icon_#{$image-size}_#{$image-color}.svg') $image-position;
        @include vehicle-icon-common-property ($bg-size, $width, $height, $display-prop);
    }
}

